<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="grack.dev.creditpointapp">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".features.loginwalimurid.history.HistoryActivity"></activity>
    <activity android:name=".features.loginwalimurid.WaliMuridActivity" />
    <activity android:name=".features.newdashboard.ProfileActivity" />
    <activity
      android:name=".features.splashscreen.SplashScreenActivity"
      android:theme="@style/AppTheme.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".features.login.LoginActivity" />
    <activity android:name=".features.dashboard.DashboardActivity" />
    <activity android:name=".features.bk.ui.report.ReportActivity" />
    <activity android:name=".features.dashboard.ui.datapelanggaran.DataPelanggaranFragment" />
    <activity android:name=".features.newdashboard.MainActivity" />
    <activity android:name=".features.bk.ui.report.daily.ReportDailyActivity" />
    <activity android:name=".features.dashboard.ui.inputpoint.InputPointActivity" />
    <activity android:name=".features.dashboard.ui.kelas.detailsiswa.DetailSiswaActivity" />
    <activity android:name=".features.newdashboard.konsultasi.KonsultasiActivity" />
    <activity android:name=".features.dashboard.ui.kelas.KelasFragment" />
    <activity android:name=".features.dashboard.ui.rangking.RangkingSiswaFragment" />
    <activity android:name=".features.dashboard.ui.datainformasi.DataInformasiFragment" />
  </application>

</manifest>